<div class="card" id="card-container">
  <span class="title-price">Ultimo Precio</span>
  <span class="current-value">${{chartData[chartData.length - 1].value  | number: '1.2-2'}} MXN</span>
  <span [ngClass]="{
    'down':!this.isUp(),
    'up':this.isUp()
  }">
  <i class="fa-solid fa-arrow-up" *ngIf="this.isUp()"></i>
  <i class="fa-solid fa-arrow-down" *ngIf="!this.isUp()"></i>
  ${{chartData[chartData.length - 1].value - chartData[chartData.length - 2].value | number: '1.2-2'}} MXN ({{this.getPercentChange() | number: '1.2-2'}}%)
</span>
  <div class="main-container">
    <div id="chart-container" class="chart-container">
      <div id="custom-tooltip" class="tooltip" style="position: absolute; display: none; padding: 5px; background-color: white; border: 1px solid black;"></div>
    </div>
    <div class="filter-buttons">
      <button (click)="filterData('1d')">1D</button>
      <button (click)="filterData('1s')">1S</button>
      <button (click)="filterData('1m')">1M</button>
      <button (click)="filterData('3m')">3M</button>
      <button (click)="filterData('1y')">1A</button>
      <button (click)="filterData('3y')">3A</button>
    </div>
  </div>
</div>

